doctype
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel="stylesheet" href="/style.css")
    title Corile | Stardust
  body
    .wrapper
      h1#logo <./STARDUST/.>
      select#idselect
        option 
      .output
        .names
          h2#faction-name
          a#nickname-link(href="#") #[h3#nickname]

        .container
          h4 Description:
          p#description Welcome to #[strong Stardust], a Discovery Freelancer ID database. Please select the ID you'd like to learn about in the selection box above. Please note this database is still a work-in-progress and as such might contain incomplete, inaccurate or outdated data.

        .container
          h4 ID Lines:
          ul#lines

        .container
          h4 Zone of influence:
          p#zoi

        .container
          h4 Permitted ships:
          ul#ships
            li#fighter F
            li#freighter Fr
            li#transport T
            li#gunboat G
            li#cruiser C
            li#battleship B
            li#kudessie Ku
            li#morph nM
            li#nfighter nF
            li#ngunboat nG

    script(src="/script.js")
