@import url('https://fonts.googleapis.com/css?family=Inconsolata|Roboto');

@font-face
  font-family Synthesia
  font-style normal
  src url("/res/synthesia.ttf")

base0 = #002b36
base1 = #174652
emph = #fdf6e3
head = #93a1a1
text = #839496

yellow = #b58900
orange = #cb4b16
red = #dc322f
magenta = #d33682
violet = #6c71c4
blue = #268bd2
cyan = #2aa198
green = #859900

*, *:before, *:after
  margin 0
  padding 0
  box-sizing border-box
  font-family Roboto, sans-serif

body
  height 100%
  display flex
  align-items center
  justify-content center
  background base0
  color text

a
  text-decoration none
  color inherit

h1
  font-family Synthesia
  font-size 5em
  color emph

option
  font-family Synthesia

h2
  font-family Synthesia
  font-size 3em
  color head

h3
  font-family Inconsolata
  color base1

.wrapper
  max-width 960px
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 5rem 5rem 0 5rem

.names
  display flex
  justify-content space-between
  align-items center

  h3
    transition color .3s

  a:hover h3
    color text

#logo
  text-align center

#idselect
  margin 2rem 0
  padding 1rem
  width 100%
  background base1
  border none
  color emph
  appearance none
  font-size 1.5rem
  font-family Synthesia

  &:active
    outline none

.container
  border 2px base1 solid
  padding .5rem
  margin .5rem 0
  width 100%

  &>*:nth-child(2)
    padding: .5rem
    text-align justify

  h4
    font-family Inconsolata
    color base1
  ul#lines

    li
      list-style none
      padding .5rem 0

  ul#ships
    display flex
    justify-content space-between

    li
      width 100%
      display none
      list-style none
      font-family Inconsolata
      font-size 1.5rem
      text-align center
      cursor default
      user-select none
      position relative
      z-index 2
      margin-bottom 1rem

      transition background .3s, color .3s

      &:after
        position absolute
        //content ''
        height 0
        opacity 0
        width 100%
        top 1.75rem
        left 0
        z-index -1
        font-size .8rem

        transition height .3s, opacity .3s

      &:hover:after
        height 1.1rem
        opacity 1

      &#fighter
        color yellow
        &:after
          content 'Fighters'
          background yellow
        &:hover
          background yellow
          color emph

      &#freighter
        color orange
        &:after
          content 'Freighters'
          background orange
        &:hover
          background orange
          color emph

      &#transport
        color red
        &:after
          content 'Transports'
          background red
        &:hover
          background red
          color emph

      &#gunboat
        color magenta
        &:after
          content 'Gunboats'
          background magenta
        &:hover
          background magenta
          color emph

      &#cruiser
        color blue
        &:after
          content 'Cruisers'
          background blue
        &:hover
          background blue
          color emph

      &#battleship
        color cyan
        &:after
          content 'Battleships'
          background cyan
        &:hover
          background cyan
          color emph

      &#kudessie
        color green
        &:after
          content 'Kusari Destroyer'
          background green
        &:hover
          background green
          color emph

      &#morph
        color violet
        &:after
          content 'Nomad Morph'
          background violet
        &:hover
          background violet
          color emph

      &#nfighter
        color violet
        &:after
          content 'Nomad Fighters'
          background violet
        &:hover
          background violet
          color emph

      &#ngunboat
        color violet
        &:after
          content 'Nomad Gunboats'
          background violet
        &:hover
          background violet
          color emph

      &.active
        display inline
